@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300&family=PT+Sans+Narrow:wght@700&family=PT+Serif&family=Public+Sans:wght@800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  hyphens: manual;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 100vw;
  /* max-width: max(800px, 100%); */
  /* padding-top: 60px; */
  padding-bottom: 60px;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.headerContainer {
  display: flex;

  flex-direction: column;
}

.headerImgTitleContainer {
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  /* filter: grayscale(50%); */
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainTitle {
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  position: relative;
  letter-spacing: 40px;
  vertical-align: middle;
  font-weight: 100;
  top: -64%;
  transition: 300ms;
  backdrop-filter: brightness(50%);
  padding-top: 10px;
  padding-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: black;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 12px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 400ms;
}

.header:hover {
  opacity: 1;
  color: black;
}

.logoOla {
  max-width: 90px;
  height: auto;
  object-fit: cover;
}

.sideImgContainer {
  height: auto;
}

.sideImg {
  width: 300px;
  object-fit: cover;
  height: 100%;
  transition: 600ms;
  align-self: flex-end;
}

.dishesAndSideImg {
  display: flex;
}

.bodyContainer {
  display: flex;
  justify-content: center;
}

.menuSection {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  row-gap: 40px;
  padding: 60px;
}

.menuSectionTitle {
  font-family: "Public Sans", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -2px;
  transform: scaleY(8);
  transform: scaleX(1);
  margin-left: -46px;
  transition: 700ms;
}

.menuSectionDescription {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 1.2rem;
  font-family: "Encode Sans", sans-serif;
  font-weight: bold;
}

.menuSectionDishes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: fit-content;
  gap: 4px;
}

.dishHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
}

.dishTitle {
  font-family: "PT Sans Narrow", sans-serif;
  display: inline;
}

.dishDescription {
  font-family: "Encode Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  transform: scaleY(1.1);
}

.dishPrice {
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
}

.footerImg {
  max-width: max(150px, 90%);
  margin-left: -10px;
}

@media (max-width: 700px) {
  .sideImg {
    width: 0px;
    transition: 600ms;
  }
  .App {
    padding: 0;
  }

  .menuSectionTitle {
    margin-left: 0;
    transition: 400ms;
  }
}

@media (max-width: 700px) {
  body {
    max-width: 100vw;
  }

  .menuSection {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    gap: 20px;
  }
  .menuSectionTitle {
    font-size: 2.5rem;
    padding-top: 20px;
  }

  .header {
    opacity: 1;
    overflow: scroll;
    position: sticky;
    gap: 16px;
    z-index: 9;
    justify-content: start;
  }

  .header::-webkit-scrollbar {
    display: none;
  }

  .bodyContainer {
    display: flex;
    flex-direction: column;
  }

  .logoOla {
    object-fit: contain;
  }

  .mainTitle {
    font-size: xx-large;
    letter-spacing: 16px;
  }
}
